<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<HTML>
<HEAD>
<meta name="GENERATOR" content="Microsoft&reg; HTML Help Workshop 4.1">
<!-- Sitemap 1.0 -->
</HEAD>
  <BODY>
    <OBJECT type="text/site properties">
      <param name="ImageType" value="Folder">
    </OBJECT><% package.docs.each do |doc| %>
    <UL>
      <LI><OBJECT type="text/sitemap">
            <param name="Name" value="<%= doc.title %>"><% if doc.chm_file_basename =~ /\.chm$/ %> 
            <param name="Local" value="<%= doc.chm_file_basename %>::/index.html">
          </OBJECT>
          <OBJECT type="text/sitemap">
            <param name="Name" value="<%= doc.chm_file_basename %>::/contents.hhc">
            <param name="Merge" value="<%= doc.chm_file_basename %>::/contents.hhc">
          </OBJECT><% else %>
            <param name="Local" value="<%= doc.chm_file_basename %>">
          </OBJECT><% end %>
    </UL><% end %>
  </BODY>
</HTML>
