<?xml version="1.0" encoding="utf-8"?>
<?include $(env.PACKAGE_CONFIG) ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Product Name="$(var.ProductName)" Id="$(var.ProductCode)" Version="$(var.ProductVersion)" Language="1033" Manufacturer="RubyInstaller Project" UpgradeCode="$(var.UpgradeCode)">
    <Package Id="????????-????-????-????-????????????" Description="$(var.ProductName)" Comments="Copyright (c) $(var.Year) RubyInstaller Project" Keywords="Installer Ruby Windows" InstallPrivileges="elevated" Compressed="yes" InstallerVersion="200" />
    <Media Id="1" Cabinet="rubyinstaller.cab" EmbedCab="yes" CompressionLevel="high" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="WindowsVolume" Name="BootDrv">
        <Directory Id="INSTALLDIR" Name="$(var.InstallId)" />
      </Directory>
    </Directory>
    <Icon Id="RubyInstallerIcon" SourceFile="..\icons\ruby.ico" />
    <Property Id="ARPPRODUCTICON" Value="RubyInstallerIcon" />
    <Feature Id="Ruby" Level="1" Title="$(var.RubyTitle)" Description="$(var.RubyDescription) ($(var.RubyGemsVersion))."  ConfigurableDirectory="INSTALLDIR">
      <ComponentGroupRef Id="group_RUBY_BIN" />
      <ComponentGroupRef Id="group_RUBY_LIB" />
      <ComponentGroupRef Id="group_RUBY_ENV" />
    </Feature>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />
  </Product>
</Wix>
